# CI-CD doc: https://www.youtube.com/watch?v=QP0pi7xe24s

name: CI-CD pipe to Azure 

on: 
  workflow_dispatch: # run action manually on deamand
  pull_request:
  #push:
    #branches:
    #- main

# important to add permissions to avoid Error: Please make sure to give write permissions to id-token in the workflow.
permissions:
  id-token: write
  contents: read


env:
  AZURE_WEBAPP_NAME: WebAppBigPicture
  AZURE_WEBAPP_PACKAGE_PATH: ./src/publish

  
jobs:
  Restore-Build-Test-Publish:
  
    # runs-on: ubuntu-latest
    runs-on: 
      - self-hosted
      - self-hosted-runner1
    
    steps:
      # checkout the repo
      - name: Checkout GitHub Action
        uses: actions/checkout@main


      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'


      - name: Restore dependencies
        run: dotnet restore ./src/WebAppASP.NET.sln


      - name: Build
        run: dotnet build ./src/WebAppASP.NET.sln --configuration Release --no-restore
      

      - name: Test
        run: dotnet test ./src/XUnitExamples/XUnitExamples.csproj --no-build --verbosity normal --logger "trx;LogFileName=xtests.trx"
        #/home/azureuser/actions-runner/_work/workflows-for-azure/workflows-for-azure/src/XUnitExamples/TestResults/xtests.trx

        
      - name: Publish
        run: dotnet publish ./src/WebAppASP.NET.sln --configuration Release --no-build --output ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}


      - name: Azure login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      

      - name: Deploy to Azure WebApp
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          package: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
          #slot-name: Production
          #publish-profile: ''